.ipynb_checkpoints/Data custom training-checkpoint.ipynb
.ipynb_checkpoints/FinalDetect-checkpoint.ipynb
.ipynb_checkpoints/TrainYolov8CustomDataset-checkpoint.ipynb
ByteTrack/assets/MOT17-07-SDP.gif
